* {
    box-sizing: border-box;
}

:root {
    background-color: rgb(255, 207, 77);
    --primary-color: blue; 
}

body {
    background-color: rgb(255, 207, 77);
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
    }

main {
    margin: 0; 
}

header {
    font-size: 30px; 
    min-height: 100px;
    height: 140px;
    margin-top: 0;
    padding: 10px;
    border-bottom: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    background-color:rgb(228, 169, 68);
}

.container1 {
    background-color: rgb(49, 90, 87)
}

.container2 {
    background-color: blue;
}

.answer-button {
    width: 300px;
    font-family: cursive;
    cursor: pointer;
    height: 60px;
}

.footer {
        padding: 50px;
        border-top: 4px solid black;
        margin-top: 180px;
        height: 310px;
        padding-bottom: 5px;
        align-items: center;
        background-color: rgb(228, 169, 68);
        display: flex;
        justify-content: space-between;
        align-items: center;
        }
    
img {
    max-width: 100%;
    width: 45px;
    cursor: pointer;
    }

nav {
    display: flex;
    justify-content: space-around;
    border: 5px;
}
