* {
    box-sizing: border-box;
}

:root {
    background-color: rgb(199, 200, 168);
    --primary-color: blue; 
}

body {
    background-color: rgb(199, 200, 168);
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
    }

header {
    font-size: 30px; 
    min-height: 100px;
    height: 140px;
    margin-top: 0;
    padding: 10px;
    border-bottom: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    background-color: rgb(217, 222, 220);
    min-height: 100px;
    border: 2px solid rgb(0, 0, 0);
    margin-bottom: 20px;
    margin-top: 15px;

}

footer {
        padding: 10px;
        border-top: 4px solid black;
        height: 20px;
        margin-top: 180px;
        padding-bottom: 5px;
        }

img {
    max-width: 100%;
    width: 45px;
    cursor: pointer;
    }

nav {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    border: 5px;
}
